@using MP_VendorTool.Common
@using MP_VendorTool.Models.Order
@{
    ViewBag.Title = "Báo cáo thưởng định hướng NCC mua bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/maincontent.css" rel="stylesheet" />
<style>

    input, select, textarea {
        max-width: 280px;
    }

    .btn-info {
        padding: 4px !important;
        text-align: left;
        max-width: 150px;
        border: none;
    }

    #tbl_Item {
        margin-top: 12px;
        font-size: 12px;
    }

    .content_search label {
        font-size: 12px;
        text-align: left !important;
        padding-top: 6px;
    }

    .btn-info:hover {
        color: #fff;
        background-color: #868686;
        border-color: #868686;
    }

    .btn:hover, .btn:focus, .btn.focus {
        color: #fff;
        background-color: #868686;
        border-color: #868686;
    }

    #tbl_Item {
        margin-top: 32px;
        font-size: 12px;
    }

    .content_search label {
        font-size: 12px;
        text-align: right;
        padding-top: 6px;
    }

    .wp_hearder {
        padding: 5px 0px;
        background-color: #868686;
        position: fixed;
        z-index: 999;
        top: 0;
        height: 65px !important;
        width: 100%;
    }

    .table thead {
        height: 50px !important;
    }

    .btn_search {
        background-color: #868686;
        color: #fff;
        width: 100%;
        height: 23px;
        margin-bottom: 4px;
        padding: 2px 19px !important;
        text-align: left;
        font-size: 12px;
    }

    .wp_table {
        padding-top: 134px;
    }

    /*#wp_order {
        background-image: url('../../image/nen2.jpg');
        background-color: #f3f3f3;*/ /* Used if the image is unavailable */
        /*background-size: cover;
    }*/

    body {
        font-size: 12px;
    }

    .wp_table {
        width: 90%;
        margin: 0 auto;
    }

    .logo img {
        width: 250px;
    }

    .header_title {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 28px;
        font-weight: bold;
    }

    .header_vender {
        background-color: #868686;
        padding: 18px 0px;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #bdbdbd !important;
    }

    .text_home {
        float: right;
        margin-top: 14px;
    }

        .text_home a {
            font-size: 18px;
            color: #fff;
            font-weight: bold;
        }

    .content_search .form-group {
        margin-bottom: 1px !important;
    }

    .content_search .form-control {
        height: 25px !important;
        padding: 0px 7px !important;
    }

    .content_search label {
        font-size: 12px;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 3px 10px !important;
    }

    #tbl_Item tbody {
        background-color: #ffff;
    }

    #tbl_Item thead th {
        font-size: 12px;
        text-align: left;
        /*height: 50px;*/
        vertical-align: top;
    }

    #tbl_Item thead {
        background-color: #c3c3c3;
    }

        #tbl_Item thead span {
            color: #e45050;
            font-size: 11px;
        }

    .content_table {
        padding-bottom: 72px;
    }

    #tbl_Item_length {
        position: absolute;
        bottom: 0px;
        left: 182px;
    }

    .btn_detail {
        padding: 1px 1px;
        color: #525252;
        font-size: 11px;
        border: 0px;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 1px 5px !important;
        border-bottom: 1px solid #f1f1f1 !important;
        font-size: 11px !important;
    }

    .table > tr > td {
        padding: 1px 5px !important;
        border-bottom: 1px solid #f1f1f1 !important;
        font-size: 11px !important;
    }

    .container_1 {
        width: 95% !important;
        margin: 0 auto !important;
    }

    .rank2 {
        padding-bottom: 5px;
        width: 173px;
        padding-left: 14px;
        padding-right: 6px;
    }

    .container1 {
        width: 1300px;
        margin: auto;
    }

    table {
        width: 100%;
    }

    td {
        border: 1px solid black;
        width: 200px;
    }

    .hack1 {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .hack2 {
        display: table-cell;
        overflow-x: auto;
        width: 100%;
    }

    .col {
        width: 10%
    }

    .modal tbody tr td {
        text-align: center
    }
</style>
@Html.Partial("~/Views/Shared/_sidebar_3.cshtml")
<div id="wp_order">
    <div class="header_vender_1">
        @Html.Partial("~/Views/Shared/_header_home.cshtml")
    </div>
    <div class="content_order">
        <div class="container searchfrom">
            <div class="content_search">
                <div class="row">
                    <div class="col-md-5">
                        <div class="box_with">
                            <div class="form-group row">
                                <label for="textMien" class="col-sm-4 col-form-label">Miền</label>
                                <div class="col-sm-8">
                                    <input type="search" onchange="js_searchbox();" class="form-control" id="MaHang" name="MaHang" list="Mien_datalist" placeholder="Nhập mã hàng">
                                    @*<datalist id="Mien_datalist">
                                            @if (ViewBag.list_datalist_Mien != null)
                                            {
                                                foreach (objCombox box in (List<objCombox>)ViewBag.list_datalist_Mien)
                                                {
                                                    <option value="@box.Code - @box.Name" />
                                                }
                                            }
                                        </datalist>*@
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label for="vendorName" class="col-sm-4 col-form-label">Mã hàng</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="MaHang" onchange="js_searchbox();" class="form-control" placeholder="Mã hàng">
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="box_with">

                            <div class="form-group row">
                                <label for="ContractNo" class="col-sm-4 col-form-label">Chọn Tháng</label>
                                <div class="col-sm-8">
                                    <select id="Thang" class="form-control" name="Thang" onchange="js_searchbox()">
                                        <option value="">--Chọn Tháng--</option>
                                        <option value="1">Tháng 1</option>
                                        <option value="2">Tháng 2</option>
                                        <option value="3">Tháng 3</option>
                                        <option value="4">Tháng 4</option>
                                        <option value="5">Tháng 5</option>
                                        <option value="6">Tháng 6</option>
                                        <option value="7">Tháng 7</option>
                                        <option value="8">Tháng 8</option>
                                        <option value="9">Tháng 9</option>
                                        <option value="10">Tháng 10</option>
                                        <option value="11">Tháng 11</option>
                                        <option value="12">Tháng 12</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label for="textStatus" class="col-sm-4 col-form-label">Loại CTKM</label>
                                    <div class="col-sm-8">
                                        <input type="search" onchange="js_searchbox();" class="form-control" id="LoaiCTKM" name="LoaiCTKM" list="LoaiCTKM_datalist" placeholder="Chọn loại CTKM">
                                        <datalist id="LoaiCTKM_datalist">
                                            @if (ViewBag.list_datalist_Mien != null)
                                            {
                                                foreach (objCombox box in (List<objCombox>)ViewBag.list_datalist_Mien)
                                                {
                                                    <option value="@box.Code - @box.Name" />
                                                }
                                            }
                                        </datalist>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                    <div class="col-md-2" style="text-align: left;">
                        <div style=" text-align: center; max-width: 150px;">
                            <a id="btn_search" onclick="js_searchbox()" class="btn btn-secondary btn_search"><i class="fas fa-search" aria-hidden="true" style="margin-top: 3px; margin-right: 3px;"></i> Tìm kiếm </a>
                        </div>
                        <div style=" text-align: center; max-width: 150px;">
                            <a onclick="fnExport()" class="btn btn-secondary btn_search"><i class="fa fa-forward" aria-hidden="true" style="margin-top: 3px; margin-right: 3px;"></i> Export Exel </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wp_table" style="margin-top: -27px">
            <div class="card-body">
                <div class="table-responsive_2" id="div-content">
                    @Html.Partial("~/Views/Report/Partial/__ThuongDinhHuong.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fnExport() {
        window.location = '/Report/ExportExcel_ThuongDinhHuong';
        return true;
    }
    $(function () {
        $('#txtHead').html("Báo cáo thưởng định hướng NCC mua bán");
        $('#f_dev').html("Dữ liệu khai báo Trading Term");
        $('#f_header').html("");
        $('#v_review').hide();
        $('#v_view').hide();
        $('#v_approve').hide();
        js_GetList();
    });
    function js_searchbox() {
        js_GetList();
    }
    function js_ReloadTable() {
        $('#tbl_Item').DataTable({
            lengthMenu: [[200, 50, 70, 100, -1], [200, 50, 70, 100]],
            //columnDefs: [
            //    //{ 'targets': 0, 'searchable': false, 'orderable': false },
            //    { 'targets': 9, 'searchable': false, 'orderable': false },
            //    { 'targets': 10, 'searchable': false, 'orderable': false },
            //    { 'targets': 11, 'searchable': false, 'orderable': false },
            //    { 'targets': 12, 'searchable': false, 'orderable': false },
            //    { 'targets': 13, 'searchable': false, 'orderable': false },
            //    { 'targets': 14, 'searchable': false, 'orderable': false },
            //    { 'targets': 15, 'searchable': false, 'orderable': false },
            //],
            //"order": [[0, "desc"]],
            "searching": false,
            // fixedHeader: true,
            fixedHeader: {
                headerOffset: 120
            },
            autoWidth: false,
            "language": {
                "emptyTable": "Không có dữ liệu !"
            }
        });
    }

    function js_GetList() {
        var Mien = $("#Mien").val();
        var LoaiCTKM = $("#LoaiCTKM").val();

        var MaHang = $("#MaHang").val();
        var Thang = $("#Thang").val();
        //$.ajax({
        //    url: '/Report/GetList_ThuongDinhHuong',
        //    type: 'POST',
        //    data: JSON.stringify({ MaHang: MaHang, Thang: Thang }),
        //    contentType: 'application/json, charset=utf-8',
        //    beforeSend: function () {
        //        js_Loading(true, 1);
        //    },
        //    success: function (data) {
        //        $("#div-content").find('tbody').empty();
        //        $('#div-content').html(data);
        //        js_ReloadTable();
        //        js_Loading(false, 1);
        //    },
        //    error: function () {
        //        js_Loading(false, 1);
        //    }
        //});
    }

</script>
