@using MP_VendorTool.Common
@using MP_VendorTool.Models.Order
@{
    ViewBag.Title = "Quản lý tăng trường ngành hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body">
                <div class="content_search">
                    <div class="AutoFix">
                        <div class="fromsearch">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box_with">
                                        <div class="form-group row">
                                            <label for="vendorName" class="col-sm-4 col-form-label">Nhà cung cấp</label>
                                            <div class="col-sm-8">
                                                @if (Session["VendorName"] != null && Session["VendorName"].ToString().Length > 0)
                                                {
                                                    <input type="text" class="form-control" id="NhaCC" name="NhaCC" value="@Session["VendorCode"] - @Session["VendorName"]" disabled>
                                                }
                                                else
                                                {
                                                    <select id="NhaCC" class="form-control selectpicker" data-live-search="true" onchange="js_onchange_NCC_MaHang(); GetList_Brand(); js_searchbox()">
                                                        @if (ViewBag.list_vendor != null)
                                                        {
                                                            <option value="">--- Chọn NCC ---</option>
                                                            foreach (MP_VendorTool.Models.Order.objCombox box in (List<MP_VendorTool.Models.Order.objCombox>)ViewBag.list_vendor)
                                                            {
                                                                <option value="@box.Code - @box.Name">@box.Code - @box.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="textMien" class="col-sm-4 col-form-label">Mã hàng</label>
                                            <div class="col-sm-8">
                                                <select id="MaHang" class="form-control selectpicker" data-live-search="true" onchange="js_searchbox()">
                                                    <option value="">--- Chọn mã hàng ---</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <div class="box_with">
                                        <div class="form-group row">
                                            <label for="Ngay" class="col-sm-4 col-form-label">Brand</label>
                                            <div class="col-sm-8">
                                                <select id="brand" class="form-control selectpicker" data-live-search="true" onchange="js_searchbox()">
                                                    <option value="">--- Chọn Brand ---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="textStatus" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align: center;">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="form-control" id="action_page" name="action_page" style="width: 200px; margin: auto; float: right;">
                                                <option value="">-- Chọn hành động -- </option>
                                                <option value="/Chidinhhotdeal/Index">Chỉ định Hotdeal</option>
                                                <option value="/PushSale/Index">Đầu tư ngân sách thúc đẩy bán</option>
                                                <option value="/OfferPrice/BinhOnGia">Yêu cầu bình ổn giá thị trường</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <a href="#" class="btn btn-secondary px-5 btgetw" onclick="js_nextPageInventory()"><i class="fa fa-forward" aria-hidden="true" style="margin-top: 3px; margin-right: 3px;"></i> Tiếp theo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div-content" style=" padding-top: 83px; ">
                    @Html.Partial("~/Views/ManageSales/Partial/__TangTruongNH.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#txtHead').html("Quản lý tăng trường ngành hàng");
        $('#f_dev').html("");
        $('#f_header').html("");
        $('#v_review').hide();
        $('#v_view').hide();
        $('#v_approve').hide();
        js_GetList();
        js_onchange_NCC_MaHang();
        GetList_Brand();
    });
    function js_searchbox() {
        js_GetList();
    }
    function js_ReloadTable() {
        imgrecall();
        $('#tbl_Item').DataTable({
            lengthMenu: [[200, 50, 70, 100, -1], [200, 50, 70, 100]],
            //"order": [[0, "desc"]],
            //columnDefs: [
            //    { 'targets': 7, 'orderable': false },
            //    { 'targets': 8, 'orderable': false },
            //    { 'targets': 9, 'orderable': false }
            //],
            "searching": false,
            fixedHeader: true,
            fixedHeader: {
                headerOffset: 160
            },
            autoWidth: false,
            "language": {
                "emptyTable": "Không có dữ liệu !"
            }
        });
    }

    function imgrecall() {
        tb_init('a.thickbox, area.thickbox, input.thickbox');
        $('img.content').hover(function () {
            $(this).addClass('transition');
        }, function () {
            $(this).removeClass('transition');
        });
    }
    function js_GetList() {
        var vendorNo = fomart_split($("#NhaCC").val(), 0);
        var MaHang = fomart_split($("#MaHang").val(), 0);
        var Brand = $("#brand").val();
        if (vendorNo != "") {
            js_Loading(true, 1);
            $.ajax({
                url: '/ManageSales/GetList_TangTruongNH',//SP_CTKM_PushSale_HHOA_KGUI
                type: 'POST',
                data: JSON.stringify({ vendorNo: vendorNo, MaHang: MaHang, Brand: Brand }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {
                    $("#div-content").find('tbody').empty();
                    $('#div-content').html(data);
                    js_ReloadTable();
                    js_Loading(false, 1);
                },
                error: function () {
                    js_Loading(false, 1);
                }
            });
        }
    }

    function js_onchange_NCC_MaHang() {
        var NCC = fomart_split($("#NhaCC").val(), 0);
        $('#MaHang').empty();
        if (NCC.length > 0) {
            // Call MaHang
            $.ajax({
                url: '/ManageSales/GetList_NCC_Produts_NganhHang',
                type: 'POST',
                data: JSON.stringify({ NCC: NCC }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {
                    var row = JSON.parse(data);
                    if (row != null) {
                        $('#MaHang').empty();
                        $('#MaHang').append('<option value="">--Chọn mã hàng--</option>');
                        for (i in row) {
                            $('#MaHang').append('<option value="' + row[i].Code + ' - ' + row[i].Name + '">' + row[i].Code + ' - ' + row[i].Name + '</option>');
                        }
                    }
                    $('#MaHang').selectpicker('refresh');
                    js_Loading(false, 1);
                },
                error: function () {
                    js_Loading(false, 1);
                }
            });
        }
    }
    function GetList_Brand() {
        debugger;
        var NCC = fomart_split($("#NhaCC").val(), 0);
        $('#brand').empty();
        if (NCC.length > 0) {
            // Call MaHang
            $.ajax({
                url: '/ManageSales/GetList_TangTruongNH_Brand',
                type: 'POST',
                data: JSON.stringify({ NCC: NCC }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {
                    var row = JSON.parse(data);
                    if (row != null) {
                        $('#brand').empty();
                        $('#brand').append('<option value="">--Chọn brand--</option>');
                        for (i in row) {
                            $('#brand').append('<option value="' + row[i].Code + '">' + row[i].Code + ' - ' + row[i].Name + '</option>');
                        }
                    }
                    $('#brand').selectpicker('refresh');
                    js_Loading(false, 1);
                },
                error: function () {
                    js_Loading(false, 1);
                }
            });
        }
    }

    function js_nextPageInventory() {
        var cboxes = document.getElementsByName('check[]');
        var len = cboxes.length;
        var arrCheckbox = [];
        var strCheckbox = '';
        for (var i = 0; i < len; i++) {
            if (cboxes[i].checked) {
                arrCheckbox.push(cboxes[i].value);
                strCheckbox += cboxes[i].value;
            }
        }
        console.log(strCheckbox);

        var MaHang = fomart_split(strCheckbox, 0);
        var MaNCC = fomart_split(strCheckbox, 1);
        if (arrCheckbox.length > 0) {
            window.location.href = $("#action_page").val() + '?mahang=' + MaHang + '&MaNCC=' + MaNCC;
        } else {
            alert("Bạn phải chọn mã hàng");
        }
    }
</script>
