
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="content-wrapper">
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body">

                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Đổi mật khẩu</div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                        </div>
                    </div>
                    <div class="ibox-body">
                        <form class="login100-form validate-form" method="POST" id="myForm">
                            @Html.AntiForgeryToken()

                            @if (Session["errc"] != null)
                            {
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10" style="margin-bottom: -18px;">
                                        <div class="alert alert-success">@Session["errc"].ToString()</div>
                                    </div>
                                </div>
                            }

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">@MP_VendorTool.Resource.textoldPassword</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="password" id="old" name="old" value="@ViewBag.old">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">@MP_VendorTool.Resource.textNewPassword</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="password" id="newpa" name="newpa">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">@MP_VendorTool.Resource.textEnterNewPassword</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="password" id="re_newpa" name="re_newpa">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 ml-sm-auto">
                                    <input type="submit" class="btn btn-success btn-fix" value="Đổi mật khẩu" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>