

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        Layout = null;
    }
    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <link href="~/Resources/Login/bootstrap.css" rel="stylesheet" />
    <link href="~/Resources/Login/site.css" rel="stylesheet" />
    <link href="~/Resources/Login/Site_V1.css" rel="stylesheet" />
</head>
<div class="content_home ct">
    <div class="container">

        <div class="row">
            <div class="limiter">
                <div class="">
                    <div class="logo" style="text-align: center; margin-top:-40px">
                        <a href="/Home/Index"><img src="/image/Logo.png" /></a>
                    </div>
                </div>
                <div class="container-login100">
                    <div class="bodys">
                        <div class="VendorsMK">@MP_VendorTool.Resource.textforgot_1</div>
                        <div class="sologanMK">
                            Để lấy lại mật khẩu cho tài khoản Gateway, nhập tài khoản của bạn<br /> và chúng tôi sẽ gửi Email hướng dẫn cho bạn vào Email bạn đã đăng ký với BiboMart!
                        </div>
                    </div>
                    <div class="wrap-login100">
                        <form method="POST" id="myForm" style=" text-align: center; ">
                            @if (Session["errp"] != null)
                            {
                                <p style="color: red; text-align: center; font-style: italic; ">@Html.Raw(Session["errp"].ToString())</p>
                            }
                            else
                            {
                                <p style="color: red; text-align: center; font-style: italic; "><i></i></p>
                                <br />
                            }
                            @Html.AntiForgeryToken()
                            <p><input class="controllg" type="text" id="uid" name="uid" placeholder="Nhập mã đăng nhập"></p>
                            <div class="bt_login" style="width:100%">
                                <input style="width:50%" type="submit" class="login100-form-btn" value="@MP_VendorTool.Resource.textforgot_5">
                            </div>

                            @*<p><input style="width:100%" type="submit" class="loginbtn" value="" /></p>*@
                            <div style=" height:10px"></div>
                            <div class="text_change_pass"><a href="/Account/Login">Quay lại Login?</a></div>
                        </form>

                        @*<form method="POST" id="myForm">
                @if (Session["err"] != null)
                {
                    <p style="color:red;text-align: center;">@Session["err"].ToString()</p>
                }
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-12" style="width:100%; margin-bottom:3px; ">
                        <div class="col-md-3 divlabel">
                            <label for="uid" style="margin-right: 15px;">Tài khoản</label>
                        </div>
                        <div class="col-md-9 divuser">
                            <input class="form-control" type="text" id="uid" name="uid">
                        </div>
                    </div>
                    <div class="col-md-12 khcach">
                        <div class="col-md-3 divlabel">
                            <label for="pwd" style="margin-right: 15px;">Mật khẩu</label>
                        </div>
                        <div class="col-md-9 divuser">
                            <input type="password" class="form-control" id="pwd" name="pwd">
                            <i class="fa fa-eye" id="showPassword" style=" color:#000"></i>
                        </div>
                    </div>
                    <div class="col-md-12 khcach">
                        <div class="col-md-3" style="width:29.16666666667%">
                        </div>
                        <div class="col-md-5">
                            <div class="bt_login" style="width:100%">
                                <input style="width:50%" type="submit" class="login100-form-btn loggin" value="Đăng nhập" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="width:100%; margin-top:-5px; ">
                    <div class="col-md-3" style="width:29.16666666667%">
                    </div>
                    <div class="col-md-5">
                        <div class="text_change_pass"><a href="/Account/ForgotPassword">@MP_VendorTool.Resource.textchangePass ?</a> <a style="color:#fff" onclick="Register()">Đăng ký hợp tác</a></div>
                        <div style=" clear:both"></div>
                        <div style="color:#fff; display:none"><input type="text" name="IsChekIPV4" id="IsChekIPV4" /></div>
                        <script>
                            $(function () {
                                js_checkip();
                            });
                        </script>
                    </div>
                </div>

            </form>*@
                    </div>
                </div>
            </div>
        </div>

        <div style=" clear:both"></div>
        @*@Html.Partial("~/Views/Shared/_footer.cshtml")*@
    </div>
</div>

<script src="~/Scripts/Commond.js"></script>

<style>
    .sologanMK {
        font-family: 'SF-Pro-Text-Regular';
        height: 70px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 10px;
        text-transform: uppercase;
    }
    .VendorsMK {
        font-family: 'Rift-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        text-shadow: 0 0 12px rgba(0,0,0,0.25);
        padding-top: 12px;
    }
    .controllg_V1 {
        padding-left: 7px !important;
        background: #fff;
        border-radius: 3px;
        width: 100%;
        height: 28px;
        font-size: 14px;
        font-family: 'SF-Pro-Text-Regular';
        padding: 3px;
        margin-top: 10px;
        color: #555555;
        border: none;
        text-align: left;
    }
    .controllg {
        width: 100%;
        height: 25px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #e8f0fe;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    }
    .loginbtn {
        background: #fff;
        border-radius: 8px;
        display: block;
        height: 35px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #000;
        border: 1px solid #eae6e6;
        padding: 3px;
        text-transform: uppercase;
        margin-top: 10px;
        font-family: 'SF-Pro-Text-Regular';
        width: 200px !important;
        text-align: center;
        margin: auto;
    }
    .bt_login input {
        margin-top: 0px !important;
    }
    .text_change_pass a { text-align:center; display:contents}
</style>

@*@{
        ViewBag.Title = MP_VendorTool.Resource.textforgot_1;
        Layout = "~/Views/Shared/_LayoutNew.cshtml";
    }


    <div class="bglogin">
        <div id="logo_login"><a href="/Home/Index"><img src="~/Resources/images/Logo.png" /></a></div>
        <div class="VendorsMK">@MP_VendorTool.Resource.textforgot_1</div>
        <div class="sologanMK">
            Để lấy lại mật khẩu cho tài khoản Gateway, nhập tài khoản của bạn<br /> và chúng tôi sẽ gửi Email hướng dẫn cho bạn vào Email bạn đã đăng ký với BiboMart!
        </div>
        <div class="wrap-login100">
            <form method="POST" id="myForm">
                @if (Session["errp"] != null)
                {
                    <p style="color: red; text-align: center; font-style: italic; ">@Html.Raw(Session["errp"].ToString())</p>
                }
                else
                {
                    <p style="color: red; text-align: center; font-style: italic; "><i></i></p>
                    <br />
                }
                @Html.AntiForgeryToken()
                <p><input class="controllg" type="text" id="uid" name="uid" placeholder="Nhập mã đăng nhập"></p>
                <p><input style="width:100%" type="submit" class="loginbtn" value="@MP_VendorTool.Resource.textforgot_5" /></p>
                <div class="text_change_pass"><a href="/Account/Login">Quay lại Login?</a></div>
            </form>

        </div>
        @Html.Partial("~/Views/Shared/_footer.cshtml")
    </div>*@

