@using System.Data;
@using MP_VendorTool.Common;
@using MP_VendorTool.Models.Order2
@model List<Product>

<style>
    .XacNhanthoigian {
        background: #f8f8f8;
        padding: 21px;
        margin: 18px;
        float: left;
        width: 98%;
        border-radius: 5px;
        padding-left: 5px;
    }

    .GiaoHangDot {
        margin-left: 3px;
    }

    img.content {
        border-radius: 3px !important;
        height: 100px !important;
    }

    .tongsl {
        color: #F26B2A
    }

    .ThongTinXe {
        margin-left: -16px;
    }

    .ChuY {
        background: #f8f8f8;
        padding: 21px;
        float: left;
        width: 98%;
        margin-right: 18px;
        margin-left: 18px;
        margin-bottom: 18px;
        border-radius: 5px;
    }

    .infoChuY {
        font-style: italic;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #464444;
    }

    .XacNhanLaiXe {
        background: #FFD682;
        padding: 13px;
        float: left;
        width: 98%;
        margin-right: 18px;
        margin-left: 18px;
        margin-bottom: 18px;
        border-radius: 5px;
    }

    .XacNhanLaiXe_info {
        background: #f8f8f8;
        padding: 21px;
        float: left;
        width: 98%;
        margin-right: 18px;
        margin-left: 18px;
        margin-bottom: 22px;
        border-radius: 5px;
    }

    .ThongTinXe label {
        color: rgba(0, 0, 0, 0.6) !important
    }

    .GioGiao {
        padding-top: 11px;
        font-size: 22px;
    }

        .GioGiao .HMS {
            background: #000;
            padding: 6px;
            color: #fff;
            font-size: 17px;
            margin: 1px;
            border-radius: 3px;
            font-family: 'SF-Pro-Text-Regular',sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15px;
            text-shadow: 0 0 2px #fff;
        }

        .GioGiao .HMS1 {
            padding: 6px;
            color: #000;
            font-size: 17px;
            margin: 1px;
            border-radius: 3px;
            font-family: 'SF-Pro-Text-Regular',sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15px;
        }

    .header1 {
        font-family: 'SF-Pro-Text-Regular',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #000000;
        padding-top: 0px;
    }

    .infoxe {
        font-weight: bold;
        font-size: 13px;
    }

    .SanPham {
        font-weight: bold;
        font-size: 16px;
    }
</style>

@{
    if (Model != null)
    {
        var dt = Model.GroupBy(x => x.DotGiao).Select(g => g.First());
        foreach (var item2 in dt)
        {
            <div style=" padding-top: 10px; width: 100%; margin: auto"></div>
            <fieldset class="BBoder">
                <div class="alerts">
                    <div class="panel-heading" data-toggle="collapse" aria-expanded="true" data-target="#Conten_@item2.DotGiao">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <div class="headerName GiaoHangDot">
                                        Giao hàng đợt @item2.DotGiao @*---->  ID: (@item2.IDXacNhan)*@
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div style=" padding-top:10px"> <span style="font-size: 15px;">Thời gian giao hàng: </span><strong>@item2.NgayXacNhan_GiaoHang</strong></div>
                                </div>
                                <div class="col-sm-3">
                                    <div style=" padding-top:10px"> <span style="font-size: 15px;">Tổng số lượng: </span><strong class="tongsl">@item2.SumQuantity</strong></div>
                                </div>
                                <div class="col-sm-3" style=" text-align:right">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-xs-1 right" style="margin-top: 9px !important">
                                <span style=" margin-right: 20px;">@Html.Raw(item2.TrangThai)  @*@item2.TrangThaiCode*@ </span>
                                <i class="chevron fa "></i>
                            </div>
                        </div>
                    </div>

                    @if (item2.TrangThaiCode == "NEW")
                    {
                        <div style="clear: both; height: 20px"></div>
                    }

                    @{
                        if (item2.TrangThaiCode != "NEW")
                        {
                            <div class="XacNhanthoigian">
                                <div class="col-sm-7">
                                    <div class="header1">
                                        Thời gian nhận hàng tại kho
                                    </div>
                                    <div style="font-style: italic; font-weight: 400; font-size: 15px; line-height: 19px; color: rgba(0, 0, 0, 0.87); padding-top: 5px; ">
                                        Bạn vui lòng chuyển đơn hàng đến kho vào ngày <span style=" font-weight: bold; font-size: 17px;">@item2.NgayGiao</span> lúc: <div class="GioGiao">@Html.Raw(item2.GioGiao)</div>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="text-align:right">
                                    @{
                                        if (item2.TrangThaiCode == "WAITINGNCC")
                                        {
                                            <a class="btn btn-success" onclick="js_XacNhanDonHang('@item2.IDXacNhan','@item2.DotGiao')" style="background: #F26B2A; color: #fff; border: none !important; padding-right: 44px; padding-left: 40px; margin-right: 15px; ">
                                                Xác nhận
                                            </a>
                                            <a class="btn btn-success" onclick="js_TuChoi('@item2.IDXacNhan','@item2.DotGiao')" style="background: #959595; color: #fff; border: none !important; padding-right: 44px; padding-left: 40px; margin-right: 20px; ">
                                                Điều chỉnh
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (item2.TrangThaiCode == "NCCREJECT"|| item2.TrangThaiCode == "CANCEL")
                        {
                            <div class="XacNhanLaiXe_info">
                                <div class="col-sm-9" style=" margin-left: -14px; ">
                                    <div class="headerName" style="padding-top: 1px;">
                                        <img src="~/image/time.png" /> Lý do điều chỉnh
                                    </div>
                                </div>
                                <div class="col-sm-3" style="text-align: right; padding-top: 2px; font-style: italic;">
                                </div>
                                <div class="col-md-12" style=" height:10px;"></div>
                                <div class="ThongTinXe" style=" margin-left: -28px; ">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label>Lý do </label>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="infoxe">@item2.Lydotuchoi</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label>Ngày giao </label>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="infoxe">@item2.DeXuatNgayGiao</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label>Giờ giao</label>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="infoxe">@item2.DeXuatGioGiao</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style=" height:7px;"></div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label>Số điện thoại</label>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="infoxe">@item2.SDTlienhe</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style=" height:7px;"></div>
                                </div>
                            </div>
                        }
                    }


                    <div class="col-xs-12 collapse in" id="Conten_@item2.DotGiao">
                        @*<div style=" height:0px; clear:both"></div>
                            <div class="ChuY">
                                <div class="headerName">
                                    Đối với nhà cung hợp tác theo hình thức ký gửi cần :
                                </div>
                                <div class="infoChuY">- Phiếu xuất kho kiêm ký gửi đại lý theo quy định của cơ quan thuế: 3 liên( 2 nhà cung cầm về khi nào gửi bảng đối chiếu công nợ sẽ gửi cho kế toán BBM 1 liên còn NCC giữ 1 liên , 1 liên kho BBM giữ luôn khi NCC giao hàng bao gồm đầy đủ chữ ký người xuất kho , người giao hàng ,người nhận hàng ,dấu của nhà cung cấp)</div>
                                <div class="infoChuY">- Đơn hàng tải trên cổng gateway xuống</div>
                                <div class="infoChuY">- Nhân viên giao hàng đăng ký giao hàng với BP An ninh tại cửa kho</div>
                                <div class="infoChuY">- CCCD / Biển số xe giao hàng</div>
                            </div>*@
                        @{
                            if (item2.TrangThaiCode == "NCCACCEPT")
                            {
                                <div class="XacNhanLaiXe" onclick="js_ThonTinXe('@item2.IDXacNhan','@item2.DotGiao')">
                                    <div class="col-sm-9">
                                        <div class="headerName" style="padding-top: 1px;">
                                            <img src="~/image/Shape.png" /> Thông tin xe giao
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="text-align: right; padding-top: 2px; font-style: italic;">
                                        (Cập nhật nếu có)
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (item2.TrangThaiCode == "COMPLETE" || item2.TrangThaiCode == "DRIVERUPDATE")
                            {
                                <div class="XacNhanLaiXe_info">
                                    <div class="col-sm-9" style=" margin-left: -14px; ">
                                        <div class="headerName" style="padding-top: 1px;">
                                            <img src="~/image/Shape.png" /> Thông tin xe giao
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="text-align: right; padding-top: 2px; font-style: italic;">
                                        @*(Cập nhật nếu có)*@
                                    </div>
                                    <div class="col-md-12" style=" height:10px;"></div>
                                    <div class="ThongTinXe" style=" margin-left: -28px; ">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label> ĐV giao hàng</label>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="infoxe">@item2.DonViGiaoHang</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style=" height:7px;"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label> Biển số xe</label>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="infoxe">@item2.XeVanChuyen</span>
                                            </div>
                                        </div><div class="col-md-12" style=" height:7px;"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label> Tên tài xế</label>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="infoxe">@item2.TaiXe</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style=" height:7px;"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label>CCCD</label>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="infoxe">@item2.CCCD</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style=" height:7px;"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label>Số điện thoại</label>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="infoxe">@item2.sdtTaixe</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style=" height:7px;"></div>
                                    </div>
                                </div>
                            }
                        }

                        @*Đoạn này dành cho khi trạng thái là : WAITINGCONFIRM, APPROVED , REJECTED , INPROGRESS*@

                        <div class="FullfromV1">
                            <table id="tbl_Item_DaXacNhan" class="table table-striped table-bordered table-hover" cellspacing="0" style=" padding-top:10px;  width:98%; margin:auto">
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            <div class="SanPham1">Hình ảnh</div>
                                        </th>
                                        <th class="text-left">
                                            <div class="SanPham1">Tên hàng</div>
                                        </th>
                                        <th class="text-left">
                                            <div class="SanPham1">SL xác nhận</div>
                                        </th>
                                        <th class="text-left">
                                            <div class="SanPham1">Chi tiết</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var dt2 = Model.Where(x => x.DotGiao == item2.DotGiao);
                                        {
                                            foreach (var item in dt2)
                                            {
                                                var i = 0;

                                                <tr id="Row_@i" style="background: #ffff !important; vertical-align: initial !important;">
                                                    <td style="text-align:center; vertical-align: initial !important;">
                                                        <input type="hidden" name="MaHang" id="ItemNo_@i" class="ItemNo" value="@item.MaHang" />
                                                        <a href="@item.linkanh" title="" class="thickbox"><img height="100px" src="@item.linkanh" alt="" class="content" /></a>
                                                        @*<div><span style="font-style: normal; font-weight: 400; font-size: 14px; line-height: 17px; color: rgba(0, 0, 0, 0.38);">Số mã xác nhận giao </span>: <strong style="color:#F26B2A">@item.SumSoLuong</strong></div>*@
                                                    </td>
                                                    <td style="text-align: left; vertical-align: initial !important;">
                                                        @item.MaHang - <span class="MaHang">@item.TenHang</span>
                                                    </td>
                                                    <td style="text-align:center; vertical-align: initial !important;">
                                                        @item.SumQuantity
                                                    </td>
                                                    <td class="text-right" style="width: 50%; ">
                                                        <table id="Table_Sl00" class="table table-bordered tb_detail" style="width: 98%; margin-right: 15px; margin-left: 15px; margin-bottom: 0px; background: #ffff !important">
                                                            <thead>
                                                                <tr>
                                                                    <th class="tieudeKC">
                                                                        Ngày sản xuất
                                                                    </th>
                                                                    <th class="tieudeKC">
                                                                        Ngày hết hạn
                                                                    </th>
                                                                    <th class="tieudeKC">
                                                                        Số lượng
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var product in item.SoLuong_hanSD)
                                                                {
                                                                    <tr style='border: none; background: #ffff !important'>
                                                                        <td style='width: 10%;'><input class='form-control' disabled type='text' id='NgayHetHan' name='NgayHetHan'  value='@product.NgayXS'></td>
                                                                        <td style='width: 10%;'><input class='form-control' disabled type='text' id='NgayHetHan' name='NgayHetHan' value='@product.HanSD'></td>
                                                                        <td style='width: 10%;'><input class='form-control' disabled type='text' id='SoLuong' name='SoLuong' value='@product.Quantity'></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        @*Sau khi thay đổi trạng thái sang : WAITINGREFUND , REFUNDED , REFUNDREJECTED thì lấy ở chi tiết này*@


                        <div style="clear:both; height:20px"></div>


                    </div>

                </div>
            </fieldset>
        }
    }
}
