@using MP_VendorTool.Common
@using MP_VendorTool.Models.Order
@{
    ViewBag.Title = "Chỉ định Hotdeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body">
               
                <div class="content_search">
                    <div class="AutoFix">
                        @*<div class="Viewtab">
                            <ul class="nav nav-tabs">
                                <li class="nav-item tabli">
                                    <a class="nav-link active" href="/ChiDinhHotdeal/Index" >Chỉ định hotdeal </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/ChiDinhHotdeal/ChiDinhHotdealApr" >Quản lý Hotdeal</a>
                                </li>
                            </ul>
                        </div>*@
                   
                        <div class="fromsearch">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box_with">
                                        <div class="form-group row">
                                            <label for="vendorName" class="col-sm-4 col-form-label">Nhà cung cấp</label>
                                            <div class="col-sm-8">
                                                @if (Session["VendorName"] != null && Session["VendorName"].ToString().Length > 0)
                                                {
                                                    <input type="text" class="form-control" id="NhaCC" name="NhaCC" value="@Session["VendorCode"] - @Session["VendorName"]" disabled>
                                                }
                                                else
                                                {
                                                    <select id="NhaCC" class="form-control selectpicker" data-live-search="true" onchange="js_onchange_NCC_MaHang(); js_searchbox()">
                                                        @if (ViewBag.list_vendor != null)
                                                        {
                                                            <option value="">--- Chọn NCC ---</option>
                                                            foreach (MP_VendorTool.Models.Order.objCombox box in (List<MP_VendorTool.Models.Order.objCombox>)ViewBag.list_vendor)
                                                            {
                                                                <option value="@box.Code - @box.Name">@box.Code - @box.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="textMien" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <div class="box_with">
                                        <div class="form-group row">
                                            <label for="Ngay" class="col-sm-4 col-form-label">Mã hàng /Tên hàng</label>
                                            <div class="col-sm-8">
                                                <select id="MaHang" class="form-control selectpicker" data-live-search="true" onchange="js_searchbox()">
                                                    <option value="">--- Chọn mã hàng ---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="textStatus" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align: center;">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <a href="#" class="btn btn-secondary px-5 btgetw" id="btnGetChecks" onchange="js_searchbox()"><i class="fa fa-search" aria-hidden="true" style="margin-top: 3px; margin-right: 3px;"></i> Tìm kiếm</a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <a id="btntuchoi" onclick="js_saveCheck();" class="btn btn-success px-5 rounded-0 btgetw" style=" color:#fff"><i class="fa fa-save" aria-hidden="true" style="margin-top: 3px; margin-right: 3px;"></i> Xác nhận</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div-content" style=" padding-top: 83px; ">
                    @Html.Partial("~/Views/ChiDinhHotdeal/Partial/__Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#txtHead').html("Chỉ định Hotdeal");
        $('#f_dev').html("");
        $('#f_header').html("");
        $('#v_review').hide();
        $('#v_view').hide();
        $('#v_approve').hide();
        js_GetList();

        var NhaCC = fomart_split($("#NhaCC").val(), 0);
        if (NhaCC != "") {
            js_onchange_NCC_MaHang();
        }
    });
    function js_searchbox() {
        js_GetList();
    }
    function js_ReloadTable() {
        imgrecall();
        $('#tbl_Item').DataTable({
            lengthMenu: [[200, 50, 70, 100, -1], [200, 50, 70, 100]],
            //"order": [[0, "desc"]],
            columnDefs: [
                { 'targets': 4, 'orderable': false },
                { 'targets': 5, 'orderable': false },
                { 'targets': 6, 'orderable': false },
                { 'targets': 7, 'orderable': false },
                { 'targets': 8, 'orderable': false },
                { 'targets': 9, 'orderable': false },
                { 'targets': 13, 'orderable': false }
            ],
            "searching": false,
            fixedHeader: true,
            fixedHeader: {
                headerOffset: 184
            },
            autoWidth: false,
            "language": {
                "emptyTable": "Không có dữ liệu !"
            }
        });
    }

    function imgrecall() {
        tb_init('a.thickbox, area.thickbox, input.thickbox');
        $('img.content').hover(function () {
            $(this).addClass('transition');
        }, function () {
            $(this).removeClass('transition');
        });
    }
    function js_GetList() {

        var vendorNo = fomart_split($("#NhaCC").val(), 0);
        var MaHang = fomart_split($("#MaHang").val(), 0);
        var Barcode = "";
        js_Loading(true, 1);
        $.ajax({
            url: '/ChiDinhHotdeal/GetList_ChiDinhHotdeal',//SP_CTKM_ChiDinhHotdeal_HHOA_KGUI
            type: 'POST',
            data: JSON.stringify({ vendorNo: vendorNo, MaHang: MaHang, Barcode: Barcode }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                $("#div-content").find('tbody').empty();
                $('#div-content').html(data);
                js_ReloadTable();
                js_Loading(false, 1);
            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }

    function js_onchange_NCC_MaHang() {
        var NCC = fomart_split($("#NhaCC").val(), 0);
        $('#MaHang').empty();
        if (NCC.length > 0) {
            // Call MaHang
            $.ajax({
                url: '/ChiDinhHotdeal/GetList_NCC_Produts',
                type: 'POST',
                data: JSON.stringify({ NCC: NCC }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {
                    var row = JSON.parse(data);
                    if (row != null) {
                        $('#MaHang').empty();
                        $('#MaHang').append('<option value="">--Chọn mã hàng--</option>');
                        for (i in row) {
                            $('#MaHang').append('<option value="' + row[i].Code + ' - ' + row[i].Name + '">' + row[i].Code + ' - ' + row[i].Name + '</option>');
                        }
                    }
                    $('#MaHang').selectpicker('refresh');
                    js_Loading(false, 1);
                },
                error: function () {
                    js_Loading(false, 1);
                }
            });
        }
    }
    //function js_onchange_barcode(r) {
    //    let nameProduct = $('#MaHang').val();
    //    $('#Barcode').empty();

    //    var item = nameProduct.split(" - ");

    //    let NhaCC = $('#NhaCC').val();
    //    var arNhaCC = NhaCC.split(" - ");
    //    if (nameProduct.length > 0) {

    //        // Call Barcode
    //        $.ajax({
    //            url: '/ChiDinhHotdeal/GetListBarcode',
    //            type: 'POST',
    //            data: JSON.stringify({ itemNo: item[0] }),
    //            contentType: 'application/json, charset=utf-8',
    //            beforeSend: function () {
    //                js_Loading(true, 1);
    //            },
    //            success: function (data) {
    //                var row = JSON.parse(data);
    //                if (row != null) {
    //                    $('#Barcode').empty();
    //                    $('#Barcode').append('<option value="">--Chọn Barcode--</option>');
    //                    for (i in row) {
    //                        $('#Barcode').append('<option value="' + row[i].Code + '">' + row[i].Name + '</option>');
    //                    }
    //                }
    //                $('#Barcode').selectpicker('refresh');
    //                js_Loading(false, 1);
    //            },
    //            error: function () {
    //                js_Loading(false, 1);
    //            }
    //        });
    //    }
    //}


    //$('#btnGetChecks').on('click', function () {
    //    var ID = [];
    //    $("input:checked").each(function (index, value) {
    //        ID.push($(value).val());
    //    });
    //    if (ID == "") {
    //        alert("Bạn chưa chọn hành động");
    //        return;
    //    }
    //    var action = 'DUYET';//$("#StatusDuyet").val();

    //    if (action == "") {
    //        alert("Bạn chưa chọn trạng thái để cập nhật.");
    //        return;
    //    }
    //    $.ajax({
    //        type: "POST",
    //        url: '/Report/PostStatusDebtDeposit',
    //        data: JSON.stringify({ ID: ID, status: action }),
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (rt) {
    //            if (rt.code == 0) {
    //                js_GetList();
    //                alert("Duyệt thành công");
    //            }
    //        }
    //    });
    //});

    //$('#btntuchoi').on('click', function () {
    //    var ID = [];
    //    $("input:checked").each(function (index, value) {
    //        ID.push($(value).val());
    //    });
    //    if (ID == "") {
    //        alert("Bạn chưa chọn hành động");
    //        return;
    //    }
    //    var action = 'DELETED';//$("#StatusDuyet").val();

    //    if (action == "") {
    //        alert("Bạn chưa chọn trạng thái để cập nhật.");
    //        return;
    //    }
    //    $.ajax({
    //        type: "POST",
    //        url: '/Report/PostStatusDebtDeposit',
    //        data: JSON.stringify({ ID: ID, status: action }),
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (rt) {
    //            if (rt.code == 0) {
    //                alert("Từ chối thành công");
    //                js_GetList();
    //            }
    //        }
    //    });
    //});

</script>
