@using MP_VendorTool.Models.Order
@using MP_VendorTool.Common;
@{
    ViewBag.Title = "Thông tin sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Resource/Content/css/thickbox.css" rel="stylesheet" />
    <script src="~/Resource/Scripts/thickbox.js"></script>*@
<style>
    a#btntuchoi {
        margin-top: 2px;
        height: 34px;
    }
</style>

<div class="content-wrapper">
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body">
                <div class="content_search">
                    <div class="AutoFixV2">
                        <div class="ViewtabNew">
                            <button class="btn tabbt btn-danger " onclick="window.location = '/Product/ProInfo'" style="margin-left: 9px;">Tất cả</button>
                            <button class="btn tabbt btntab" onclick="window.location = '/Product/Create'">Chào hàng mới</button>
                            <button class="btn tabbt btntab" onclick="window.location = '/Product/ProUpdate'">Thông tin sản phẩm</button>
                        </div>
                        <div class="fromsearch">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box_with">
                                        <div class="form-group row">
                                            <label for="vendorName" class="col-sm-4 col-form-label">Nhà cung cấp</label>
                                            <div class="col-sm-8">
                                                @if (Session["VendorName"] != null && Session["VendorName"].ToString().Length > 0)
                                                {
                                                    <input type="text" class="form-control" id="NhaCC" name="NhaCC" value="@Session["VendorCode"] - @Session["VendorName"]" disabled>
                                                }
                                                else
                                                {
                                                    <select id="NhaCC" class="form-control selectpicker" data-live-search="true" onchange="js_searchbox()">
                                                        @if (ViewBag.list_vendor != null)
                                                        {
                                                            <option value="">--- Chọn NCC ---</option>
                                                            foreach (objCombox box in (List<objCombox>)ViewBag.list_vendor)
                                                            {
                                                                <option value="@box.Code - @box.Name">@box.Code - @box.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                }

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="textMien" class="col-sm-4 col-form-label">Trạng thái</label>
                                            <div class="col-sm-8">
                                                <select class="form-control selectpicker" data-live-search="true" id="TrangThai" onchange="js_searchbox()">
                                                    <option value=""> -- Chọn trạng thái --</option>
                                                    <option value="2">Chờ duyệt</option>
                                                    <option value="1">Active</option>
                                                    <option value="3">In active</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <div class="box_with">

                                        <div class="form-group row">
                                            <label for="Ngay" class="col-sm-4 col-form-label">Barcode</label>
                                            <div class="col-sm-8" ondblclick="$('#Barcode').val('').trigger('change');">
                                                <input type="text" class="form-control" id="Barcode" name="Barcode" onchange="js_searchbox();" placeholder="Tìm barcode">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="textStatus" class="col-sm-4 col-form-label">Tên sản phẩm</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="NamePro" name="NamePro" list="VendorPro_datalist" onchange="js_searchbox();" placeholder="Tìm tên sản phẩm">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2" style="text-align:right;">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <a href="#" class="btn btn-secondary px-5 btgetw" id="btnGetChecks" onclick="js_searchbox()"><i class="fa fa-search" aria-hidden="true" style="margin-top: 3px; margin-right: 3px;"></i> Tìm kiếm</a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div id="div-content" style=" padding-top: 143px; ">
                    @Html.Partial("~/Views/Product/Partial/__ProInfo.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var CID = 0;
    var CIDARITEM = 0;

    $(document).ready(function () {
        $('#MaHang').val('');
        $('#MaNCC').val('');
        $('#MaHangARITEM').val('');
        $('#MaNCCARITEM').val('');
        $('#txtHead').html('Thông tin sản phẩm');
    });

    $(function () {
        js_GetList();
    });

    function imgrecall() {
        tb_init('a.thickbox, area.thickbox, input.thickbox');
        $('img.content').hover(function () {
            $(this).addClass('transition');
        }, function () {
            $(this).removeClass('transition');
        });
    }

    function HanhDongsave() {
        var IDSP = 0;
        var cboxes = document.getElementsByName('check[]');
        var arrCheckbox = [];
        var i = 0;
        for (var i = 0; i < cboxes.length; i++) {
            if (cboxes[i].checked) {
                var po = {};
                po.ID = $('#ID_' + cboxes[i].value).val();
                po.IDProducst = $('#IDProducst_' + cboxes[i].value).val();
                console.log(po);
                arrCheckbox.push(po);
                IDSP = $('#ID_' + cboxes[i].value).val();
            }
        }
        if (arrCheckbox.length < 0) {
            alert("Bạn chưa chọn hành động");
            return;
        }
        var HanhDong = $('#HanhDong').val();
        if (HanhDong == "0") {
            window.location.href = '/Product/create';
        }
        if (HanhDong == "1") {
            window.location.href = '/Product/Edit?productId=' + IDSP;
        }
        else if (HanhDong == "2") {
            jConfirm('Bạn chắc chắn muốn xóa ?', '', function (r) {
                $.ajax({
                    url: '/Product/Delete_Info_Products_Vender',
                    type: 'POST',
                    data: JSON.stringify({ lst: arrCheckbox, status: HanhDong }),
                    contentType: 'application/json, charset=utf-8',
                    beforeSend: function () {
                        js_Loading(true, 1);
                    },
                    success: function (data) {
                        if (data == 1) {
                            js_searchbox();
                            js_Loading(false, 1);
                        }
                    },
                    error: function () {
                        js_Loading(false, 1);
                    }

                });
            });
        }
    }

    function js_searchbox() {
        js_GetList();
    }

    function js_ReloadTable() {
        imgrecall();
        $('#tbl_Item').DataTable({
            lengthMenu: [[50, 70, 100, 300, 400, 500, 1000, -1], [50, 70, 100, 300, 400, 500, 1000]],
            columnDefs: [
                { 'targets': 6, 'searchable': false, 'orderable': false }
            ],
            "searching": false,
            autoWidth: false,
            pageLength: -1,
            "language": {
                "emptyTable": "Không có dữ liệu !"
            },
            "pageLength": 50,
            fixedHeader: {
                headerOffset: 242
            }
        });
    }

    function fomart_split(input, number) {
        var value = input;
        if (value != null && !value.length < 1) {
            return value.split(" - ")[number];
        } else {
            return "";
        }
    }

    function js_GetList() {
       
        var Status = $("#TrangThai option:selected").val();
        var Name = $("#NamePro").val();
        var MaNCC = fomart_split($("#NhaCC").val(), 0);
        var Barcode = $("#Barcode").val();
        CID = 0;
        var Statuss = $("#TrangThai").val();
        $.ajax({
            url: '/Product/Get_List_Info_Products_Vender',
            type: 'POST',
            data: JSON.stringify({
                Status: Status, Name: Name, MaNCC: MaNCC, Barcode: Barcode
            }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
                //console.log('gfdfgdf');
            },
            success: function (data) {
                $("#div-content").find('tbody').empty();
                $('#div-content').html(data);
                js_ReloadTable();
                js_Loading(false, 1);
            },
            error: function () {
                js_Loading(false, 1);
            }
        });

    }

    jQuery(document).ready(function ($) {
        $("#Bonus").on('keyup', function () {
            var n = parseInt($(this).val().replace(/\D/g, ''), 10);
            $(this).val(n.toLocaleString().replaceAll(".", ",").replaceAll("NaN", ""));
        });
        $("#Bonus").load('keyup', function () {
            var n = parseInt($(this).val().replace(/\D/g, ''), 10);
            if (n.toLocaleString() != 'NaN') {
                $(this).val(n.toLocaleString().replaceAll(".", ",").replaceAll("NaN", ""));
            }
        });
    });
    $('body').on('keyup', '#Bonus', function (e) {
        var n = parseInt($(this).val().replace(/\D/g, ''), 10);
        if (n.toLocaleString() != 'NaN') {
            $(this).val(n.toLocaleString().replaceAll(".", ",").replaceAll("NaN", ""));
        }
    });
</script>

