@using System.Data
<table id="tbl_Item" class="table table-bordered">
    <thead>
        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {

                <tr style="background: #f3f3f3; border: none !important;">
                    <td class="text-left" style="border: none !important;"></td>
                    <td class="text-left" style="border: none !important;"></td>
                    <td class="text-right" style="border: none !important;">
                        @dt.Rows[0]["sumPhiTong"]
                    </td>
                    <td class="text-right" style="border: none !important;">
                        @dt.Rows[0]["sumPhiTong"]
                    </td>
                    <td class="text-right" style="border: none !important;">
                        @dt.Rows[0]["sumPhiTong"]
                    </td>
                    <td class="text-right" style="border: none !important;">
                        @dt.Rows[0]["sumPhiTong"]
                    </td>
                </tr>
                }
            }
        }
        <tr>
            <th scope="col" style="text-align: left; width: 100px; max-width: 100px; ">
                Mã hàng
            </th>
            <th scope="col">
                Tên hàng
            </th>
            <th scope="col" style="text-align: left; width: 100px; max-width: 100px; ">
                SL bán MB
            </th>
            <th scope="col" style="text-align: left; width: 100px; max-width: 100px; ">
                SL bán MN
            </th>
            <th scope="col" style="text-align: left; width: 100px; max-width: 100px; ">
                Tổng bán
            </th>
            <th scope="col" style="text-align: left; width: 100px; max-width: 100px; ">
                Thưởng định<br />
                hướng
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        var k = i + "_Row";
                        <tr>
                            <td style="text-align: left; width: 100px; max-width: 100px; ">
                                @item["MaHang"]
                            </td>
                            <td style="text-align: left; width: 300px; max-width: 300px; overflow: hidden; white-space: nowrap " title="@item["NccName"]">
                                @item["Tenhang"]
                            </td>
                            <td style="text-align: right; width: 100px; max-width: 100px; ">
                                @item["QuantityMB"]
                            </td>
                            <td style="text-align: right; width: 100px; max-width: 100px; ">
                                @item["QuantityMN"]
                            </td>
                            <td style="text-align: right; width: 100px; max-width: 100px; ">
                                @item["SLTong"]
                            </td>
                            <td class="text-right" style=" width: 100px; max-width: 100px; ">
                                @item["AmountMN"]
                            </td>
                            @*<td style="text-align: center; width: 60px; max-width: 60px; ">
                                    @item["TrangThai"]
                                    <br />
                                    @Html.CheckBox(i + "_Row", false, new { @class = "cb-element", value = @item["MaHang"] })
                                </td>*@
                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
