@using System.Data
<table id="tbl_Item" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Barcode
            </th>
            <th>
                Tên hàng
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Giá bán
            </th>
            <th>
                SL tồn
            </th>
            <th>
                Số CH có tồn
            </th>
            <th>
                Người chào hàng
            </th>
            <th>
                Ngày chào hàng
            </th>

            <th style="text-align: center; width: 100px; max-width: 100px; overflow: hidden; white-space: nowrap ">
                Trạng thái
            </th>
            <th style="width: 100px; max-width: 100px; text-align: center ">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        var img = MP_VendorTool.Common.Constants.Split_Images(item["AnhSanPham"].ToString());

                        <tr id="row_@i">
                            <td class="text-left" style="width: 100px; max-width: 100px; overflow: hidden; white-space: nowrap ">
                                @if (item["LinkSanPham"].ToString() != "")
                                {
                                    <a href="@item["LinkSanPham"]" target="_blank" style="color: #1565C0; font-size: 12px; ">@Html.Raw(item["Barcode"])</a>
                                }
                                else
                                {
                                    @Html.Raw(item["Barcode"])
                                }
                            </td>
                            <td class="text-left" style="text-align: left; width: 300px; max-width: 300px; overflow: hidden; white-space: nowrap " title="@item["TenSanPham"]">
                                @Html.Raw(item["TenSanPham"])
                                <span style=" display:none">@Html.Raw(item["MaSP"])</span>
                            </td>
                            <td class="text-center" style=" width: 80px; max-width: 80px;">
                                @if (item["AnhSanPham"].ToString() != "")
                                {
                                    if (item["AnhSanPham"].ToString().Contains("no_selection"))
                                    {
                                    }
                                    else
                                    {
                                        <a target="_blank" href="@img" class="thickbox"><img style="height: 60px; width: 60px; border: 1px solid #d7d7d7 !important " src="@img" class="content"></a>
                                    }
                                }
                            </td>
                            <td class="text-right" style=" width: 100px; max-width: 100px;">
                                @Html.Raw(item["GiaBanNiemYet"])
                            </td>
                            <td class="text-right" style=" width: 80px; max-width: 80px;">
                                @Html.Raw(item["Slton"])
                            </td>
                            <td class="text-right" style=" width: 80px; max-width: 80px;">
                                @Html.Raw(item["SoCHCaiAR"])
                            </td>
                            <td class="text-right" style=" width: 100px; max-width: 100px;">
                                @Html.Raw(item["NguoiChaoHang"])
                            </td>
                            <td class="text-right" style=" width: 100px; max-width: 100px;">
                                @Html.Raw(item["NgayDeXuat"])
                            </td>

                            <td class="text-center" style="width: 110px; max-width: 110px; ">
                                @Html.Raw(item["TrangThai"])
                            </td>
                            <td class="text-center" id="CheckID" style=" width: 70px; max-width: 70px;">
                                @if (item["Status"].ToString() == "2")
                                {
                                    if (item["ID"].ToString() != "0")
                                    {
                                        <input type="hidden" id="ID_@i" value="@item["ID"]" />
                                        <input type="hidden" id="IDProducst_@i" value="@item["IDProducst"]" />
                                        <input type="checkbox" id="_@i" onchange="clearcheck(@i)" name="check[]" value="@i" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="checkNo" disabled value="@i" />
                                    }
                                }
                                else
                                {
                                    <input type="checkbox" name="checkNo" disabled value="@i" />
                                }
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

<script>
    function clearcheck(k) {
        var cboxes = document.getElementsByName('check[]');
        for (var i = 0; i < cboxes.length; i++) {
            if (cboxes[i].checked) {
                cboxes[i].checked = false;
            }
        }
        $("#_" + k).prop('checked', true);
    }
    async function checkall() {
        var cboxes = document.getElementsByName('CheckID');
        for (var i = 0; i < cboxes.length; i++) {
            if ($('#checkall').is(":checked")) {
                cboxes[i].checked = true;
            } else {
                cboxes[i].checked = false;
            }
        }
        //   fn_savetosessionall($('#checkall').is(":checked") ? 1 : 0);
    }
</script>