@using MP_VendorTool.Common;
@using MP_VendorTool.Models.Order

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var today = DateTime.Now.ToString(Constants.SQLDateFormat);

    var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString(Constants.SQLDateFormat);
    var lastDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)).ToString(Constants.SQLDateFormat);
}


<div class="content-wrapper">
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body">

                <div class="content_search">
                    <div class="AutoFix">
                        <div class="fromsearch">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="textMien" class="col-sm-4 col-form-label">NCC <span style="color:red">*</span> <div style=" display:none">@Session["uid"].ToString().ToUpper()</div></label>
                                        <div class="col-sm-8" ondblclick="$('#NhaCC').val('').trigger('change')">
                                            @if (Session["VendorName"] != null && Session["VendorName"].ToString().Length > 0)
                                            {
                                                <input type="text" class="form-control" id="NhaCC" name="NhaCC" value="@Session["VendorCode"] - @Session["VendorName"]" disabled style=" padding-left: 7px !important; ">
                                            }
                                            else
                                            {
                                                <div id="NC">
                                                    <select id="NhaCC" class="form-control selectpicker" data-live-search="true" onchange="js_searchbox();">
                                                        @if (ViewBag.list_vendor != null)
                                                        {
                                                            <option value="">--- Chọn NCC ---</option>
                                                            foreach (MP_VendorTool.Models.Order.objCombox box in (List<MP_VendorTool.Models.Order.objCombox>)ViewBag.list_vendor)
                                                            {
                                                                <option value="@box.Code">@box.Code - @box.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                if (ViewBag.OrderNhaCC != "")
                                                {
                                                    <script>
                                                $("#NhaCC").val(@ViewBag.OrderNhaCC)
                                                    </script>
                                                }
                                            }
                                            @*<input type="text" class="form-control" id="NhaCC" name="NhaCC" value="10024" disabled>*@
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="textMien" class="col-sm-4 col-form-label">Miền</label>
                                        <div class="col-sm-8">
                                            <select class="form-control selectpicker" data-live-search="true" id="textMien" onchange="js_searchbox();">
                                                <option value="">---Chọn Miền---</option>
                                                <option value="MB">Miền Bắc</option>
                                                <option value="MN">Miền Nam</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="textTinh" class="col-sm-4 col-form-label">Tỉnh/Thành</label>
                                        <div class="col-sm-8" ondblclick="$('#textTinh').val('').trigger('change')">
                                            <select class="form-control selectpicker" id="textTinh" data-live-search="true" onchange="js_searchbox();">
                                                <option value="">---Chọn Tỉnh/Thành---</option>
                                                @if (ViewBag.province != null)
                                                {
                                                    foreach (objCombox box in (List<objCombox>)ViewBag.province)
                                                    {
                                                        <option value="@box.Code">@box.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="textkho" class="col-sm-4 col-form-label">Kho nhập</label>
                                        <div class="col-sm-8" ondblclick="$('#kho').val('').trigger('change')">
                                            <select id="kho" class="form-control selectpicker" data-live-search="true" onchange="js_searchbox()">
                                                <option value="">---Chọn kho nhập---</option>
                                                @if (ViewBag.warehouse != null)
                                                {
                                                    foreach (objCombox box in (List<objCombox>)ViewBag.warehouse)
                                                    {
                                                        <option value="@box.Code">@box.Code - @box.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"> </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="textDate" class="col-sm-4 col-form-label">Ngày đặt hàng</label>
                                        <div class="col-sm-8">
                                            <input type="date" class="form-control" onchange="js_searchbox();" id="textDate" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="textOrderId" class="col-sm-4 col-form-label">Mã đơn hàng</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" onchange="js_searchbox();" id="textOrderId">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="textStatus" class="col-sm-4 col-form-label">Trạng thái</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="textStatus" onchange="js_searchbox();">
                                                <option value="">---Chọn trạng thái---</option>
                                                <option value="0">Chưa xác nhận</option>
                                                <option value="1">Đã xác nhận</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align: center;">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <a href="#" class="btn btn-secondary px-5 btgetw" onclick="js_searchbox();"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <a href="/Order/ExportExcelAll" class="btn btn-success px-5 rounded-0 btgetw Hangtralai"><i class="fa fa-table" aria-hidden="true"></i> Export Excel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div-content" style=" padding-top: 147px; ">
                    @Html.Partial(Constants.Partial_Order_Index)
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="Show_hangtralai" id="Show_hangtralai" value="@ViewBag.Show_hangtralai" />
<script type="text/javascript">

    $(function () {
        js_GetListOrder();
        $('#txtHead').html("Danh sách đơn hàng");
        var Show_hangtralai = $("#Show_hangtralai").val();
        if (Show_hangtralai != "0") {
            $(".Hangtralai").css("pointer-events", "none");
            $(".Hangtralai").css("opacity", "0.7");
        }
    });
    function js_searchbox() {
        js_GetListOrder();
    }
    //function js_ReloadTable() {
    //    $('#tbl_Item').DataTable({
    //        lengthMenu: [[20, 50, 70, 100, -1], [20, 50, 70, 100]],
    //        //"pageLength": -1,
    //        columnDefs: [
    //            //{ 'targets': 0, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 2, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 3, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 4, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 5, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 6, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 7, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 8, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 9, 'searchable': false, 'orderable': false },
    //            //{ 'targets': 10, 'searchable': false, 'orderable': false }
    //        ],
    //        "searching": false,
    //        autoWidth: false,
    //        "language": {
    //            "emptyTable": "Không có dữ liệu !"
    //        }
    //    });
    //}
    function js_ReloadTable() {
        $('#tbl_Item').DataTable({
            lengthMenu: [[50, 70, 100, -1], [50, 70, 100]],
            "searching": false,
            autoWidth: false,
            pageLength: -1,
            fixedHeader: true,
            fixedHeader: {
                headerOffset: 249
            },
            "language": {
                "emptyTable": "Không có dữ liệu !"
            },
        });
    }
    function js_GetListOrder() {
        var OrderDate = $("#textDate").val();
        var Status = $("#textStatus option:selected").val();
        var PurchaseOrderNo = $("#textOrderId").val();
        var Region = $("#textMien").val();
        var City = $("#textTinh option:selected").val();
        var Store = $("#kho").val();
        var NhaCC = fomart_split($("#NhaCC").val(), 0);

        $.ajax({
            url: '/Order/GetListOrder',//sp_get_PurchaseOrders_Header
            type: 'POST',
            data: JSON.stringify({ Region: Region, City: City, Status: Status, Store: Store, PurchaseOrderNo: PurchaseOrderNo, OrderDate: OrderDate, NhaCC: NhaCC }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
                //console.log('gfdfgdf');
            },
            success: function (data) {
                $("#div-content").find('tbody').empty();
                $('#div-content').html(data);
                js_ReloadTable();
                js_Loading(false, 1);
            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }
    jQuery(document).bind("keyup keydown", function (e) {
        if (e.ctrlKey && e.keyCode == 80) {
            return false;
        }
    });

</script>

